
* {margin: 0; padding: 0}


@font-face {
    font-family: KHMenu;
    src: url('fonts/KHMenu.otf');
}
.KHmenu{
    font-family: KHMenu; font-size: 4.2em;
}

body{
    background-color: floralwhite;
    font-family: KHMenu;
    font-size: 80%;
    
    
    
}

.header{
    text-align: left;
    margin-left: 1%;
    color: black;
    font-size: 100%;
    border-bottom: 10% black;
  
    
  
    
}

#welovedopeshit{
   /* margin-left: 3.3%; */
}

.verticalLines{
   background-color: black;
    height: 20px;
    width: 3px;

   
    
}

#vertLine2{
    width: 3px;
    background-color: black;
    height: 50px;
    margin-left: 22.8%;
    margin-bottom: 100px;
}

#line1{
    border: none;
    height: 3px;
    background-color: black;
    margin-top: 0.5%;
    margin-left: -20px;
    
}



