
* {margin: 0; padding: 0}


@font-face {
    font-family: KHMenu;
    src: url('fonts/KHMenu.otf');
}
@font-face {
    font-family: KHTitle;
    src: url(fonts/KHTitle.otf);
}
.KHmenu{
    font-family: KHMenu; font-size: 4.2em;
}



body{
    background-color: floralwhite;
    font-family: KHMenu;
    font-size: 80%;
    
    
    
}

.header{
    text-align: left;
    margin-left: 1%;
    color: black;
    font-size: 100%;
    border-bottom: 10% black;
    flex-wrap: wrap;
    top: 0;
    margin-top: .5%;
    
  
    
  
    
}

#line1{
    border: none;
    height: 3px;
    background-color: black;
    margin-top: 0.5%;
    margin-left: -20px;
    
}

.topBTN{
    margin-left: 2%;
    font-family: KHMenu;
    font-size: large;
    padding: .2%;
    position: relative;
    top: 10px; 
}


#introLine{
    text-align: center;
}


#landingImage{
    margin-left: auto;
    margin-right: auto;
    max-width: auto;
    max-height: auto;
    display: block;
    height: 500px;
    width: 25%;
}

#belowPic{
    text-align: center;
    font-size: x-large;
}