* {margin: 0; padding: 0}
    
@font-face {
    font-family: KHMenu;
    src: url('../fonts/KHMenu.otf');
}
@font-face {
    font-family: KHTitle;
    src: url('../fonts/KHTitle.otf');
}
.KHmenu{
    font-family: KHMenu; font-size: 4.2em;
}

.KHTitle{
    font-family: KHTitle; font-size: 4.2em;

}

body{
    background-color: floralwhite;
    font-family: KHMenu;
    font-size: 80%;
    text-align: center;
    appearance: none; 
}

.header{
    text-align: left;
    margin-left: 1%;
    color: black;
    font-size: 100%;
    border-bottom: 10% black;
    flex-wrap: wrap;
    top: 0;
    margin-top: .5%;
}


#line1{
    border: none;
    height: 3px;
    background-color: black;
    margin-top: 0.5%;
    margin-left: -20px;
    
}

.topBTN{
    margin-left: 2%;
}

button{
    font-family: KHMenu;
    font-size: large;
    padding: .2%;
    position: relative;
    top: 10px; 
    cursor: pointer;
}

#homeBTN{
    float: right;
    margin-right: 1%;
}

#mobile{
    display: none;
}


@media only screen and (max-width: 768px) {
    #mobile{
       display: block;
    }
    #mobileNote{
        display: block;
    }
    .topBTN{
        display: none;
    }
    .mobileBTN{
        margin-left: 2%;
        font-family: KHMenu;
        font-size: large;
        padding: .2%;
        position: relative;
        top: 10px; 
        cursor: pointer;  
        display: inline;
    }
}

#text-block{
    font-size: medium;
}

div{
    display: inline;
}

#wrapper{
    justify-content: center;
    /*border: 2px solid black; */
}

.imgs{
    width: 300px;
    height: auto;
    max-height: 400px;
    padding: .05%;
}

.vids{
    width: 300px;
    height: auto;
    max-height: 400px;
    padding: .05%;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width:100%;
    height:auto;
    
    overflow: hidden;
    object-fit:contain;
    background-color: black;
}

.modal-content{
    background-color:black;
    margin: auto;
    display: block;
    max-width: 80%;
    height: 1000px;
    padding: 20px;
}

.modal-content img {
    height: 55%;
    max-width: auto;
    /* margin-left: 20%; */
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    color:crimson;
    cursor: pointer;
}

@media only screen and (max-width:900px){
    .modal-content {
        background-color: black;
        margin: auto;
        display: block;
        max-width: 85%;
        height: 1000px;
        padding-right: 197px;
        padding-top: 150px;
    }

    .modal-content img{
        height: 25%;
        max-width: auto;
    }
}

#bgimg1{
    content: url(../images/me_pointing_smiling.JPG);
    height: 300px;
}

#bgimg2{
    content: url(../images/thankyou_food.JPG);
    height: 300px;
}

#bgimg3{
    content: url(../images/treepicEdit.png);
    height: 300px;
}

#testImg4{
    height: 250px;
    width: 250px;
    content: url(../images/emptyApartmentPic.png);
}

#testImg5{
    height: 200px;
    width: 250px;
    content: url(../images/me_pointing_smiling.JPG);
}

#testImg6{
    height: 100px;
    width: 200px;
    content: url(../images/me_couchPleasant.JPG);
}

/*------------------------------Separation Between Blog Pics and Archive Pics----------------------------------*/

/* Stacie Orrico - S/T */
#archImg1{content: url(../images/digitalArchive/IMG_2344.jpg);}
#archImg2{content: url(../images/digitalArchive/IMG_2345.jpg);}
#archImg3{content: url(../images/digitalArchive/IMG_2346.jpg);}

/* Ostraca - Disaster */
#archImg4{content: url(../images/digitalArchive/IMG_2347.jpg);}
#archImg5{content: url(../images/digitalArchive/IMG_2348.jpg);}

/* in wolves clothing - it eats itself */
#archImg6{content: url(../images/digitalArchive/IMG_2349.jpg);}
#archImg7{content: url(../images/digitalArchive/IMG_2350.jpg);}

/* Knumears - A Shout to See */
#archImg8{content: url(../images/digitalArchive/IMG_2351.jpg);}
#archImg9{content: url(../images/digitalArchive/IMG_2352.jpg);}

/* The Cranberries - No Need to Argue */
#archImg10{content: url(../images/digitalArchive/IMG_2353.jpg);}
#archImg11{content: url(../images/digitalArchive/IMG_2354.jpg);}
#archImg12{content: url(../images/digitalArchive/IMG_2355.jpg);}

/* Chune - Burnt */
#archImg13{content: url(../images/digitalArchive/IMG_2356.jpg);}
#archImg14{content: url(../images/digitalArchive/IMG_2357.jpg);}
#archImg15{content: url(../images/digitalArchive/IMG_2358.jpg);}

/* Saves the Day - Early Recordings */
#archImg16{content: url(../images/digitalArchive/IMG_2372.JPG);}
#archImg17{content: url(../images/digitalArchive/IMG_2373.JPG);}
#archImg18{content: url(../images/digitalArchive/IMG_2374.JPG);}

/* Hum - You'd Prefer an Astronaut */
#archImg19{content: url(../images/digitalArchive/IMG_2375.JPG);}
#archImg20{content: url(../images/digitalArchive/IMG_2376.JPG);}
#archImg21{content: url(../images/digitalArchive/IMG_2377.JPG);}

/* Cursive - Domestica */
#archImg22{content: url(../images/digitalArchive/IMG_2378.JPG);}
#archImg23{content: url(../images/digitalArchive/IMG_2379.JPG);}
#archImg24{content: url(../images/digitalArchive/IMG_2380.JPG);}

/* Kate Bush - Hounds of Love */
#archImg25{content: url(../images/digitalArchive/IMG_2381.JPG);}
#archImg26{content: url(../images/digitalArchive/IMG_2382.JPG);}
#archImg27{content: url(../images/digitalArchive/IMG_2383.JPG);}

/* Carly Rae Jepsen - The Loneliest Time */
#archImg28{content: url(../images/digitalArchive/IMG_2387.JPG);}
#archImg29{content: url(../images/digitalArchive/IMG_2388.JPG);}
#archImg30{content: url(../images/digitalArchive/IMG_2389.JPG);}

/* Joanna Newsom - Ys */
#archImg31{content: url(../images/digitalArchive/IMG_2390.JPG);}
#archImg32{content: url(../images/digitalArchive/IMG_2391.JPG);}
#archImg33{content: url(../images/digitalArchive/IMG_2392.JPG);}

/* Blink-182 - S/T */
#archImg34{content: url(../images/digitalArchive/IMG_2393.JPG);}
#archImg35{content: url(../images/digitalArchive/IMG_2394.JPG);}
#archImg36{content: url(../images/digitalArchive/IMG_2395.JPG);}

/* Jimmy Eat World - Static Prevails */
#archImg37{content: url(../images/digitalArchive/IMG_2397.JPG);}
#archImg38{content: url(../images/digitalArchive/IMG_2398.JPG);}
#archImg39{content: url(../images/digitalArchive/IMG_2399.JPG);}

/* Blink-182 - Take off Your Pants and Jacket */
#archImg40{content: url(../images/digitalArchive/IMG_2400.JPG);}
#archImg41{content: url(../images/digitalArchive/IMG_2401.JPG);}
#archImg42{content: url(../images/digitalArchive/IMG_2402.JPG);}

/* Natalie Imbruglia - Left in the Middle */
#archImg43{content: url(../images/digitalArchive/IMG_2403.JPG);}
#archImg44{content: url(../images/digitalArchive/IMG_2404.JPG);}
#archImg45{content: url(../images/digitalArchive/IMG_2405.JPG);}

/* Rainer Maria - Look Now Look Again */
#archImg46{content: url(../images/digitalArchive/IMG_2417.JPG);}
#archImg47{content: url(../images/digitalArchive/IMG_2418.JPG);}
#archImg48{content: url(../images/digitalArchive/IMG_2419.JPG);}

/* The Get Up Kids - Four Minute Mile */
#archImg49{content: url(../images/digitalArchive/IMG_2420.JPG);}
#archImg50{content: url(../images/digitalArchive/IMG_2421.JPG);}
#archImg51{content: url(../images/digitalArchive/IMG_2422.JPG);}

/* The Get Up Kids - Something to Write Home About */
#archImg52{content: url(../images/digitalArchive/IMG_2456.JPG);}
#archImg53{ content: url(../images/digitalArchive/IMG_2457.JPG);}
#archImg54{ content: url(../images/digitalArchive/IMG_2458.JPG); }

/* allthepiecesgatheredbymay - demos */
#archImg55{ content: url(../images/digitalArchive/IMG_2423.JPG); }
#archImg56{ content: url(../images/digitalArchive/IMG_2424.JPG); }

/* The Civil War in France - early discography */
#archImg57{ content: url(../images/digitalArchive/IMG_2447.JPG); }
#archImg58{ content: url(../images/digitalArchive/IMG_2449.JPG); }

/* OLTH - every day is sOmeOne's speciaL day */
#archImg59{ content: url(../images/digitalArchive/IMG_2450.JPG); }
#archImg60{ content: url(../images/digitalArchive/IMG_2452.JPG); }

/* Middle Earth - 2023 Demo */
#archImg61{ content: url(../images/digitalArchive/IMG_2427.JPG); }
#archImg62{ content: url(../images/digitalArchive/IMG_2428.JPG); }
#archImg63{ content: url(../images/digitalArchive/IMG_2429.JPG); }

/* Stumik Bug/Bottle Violence - stumikviolence */
#archImg64{ content: url(../images/digitalArchive/IMG_2430.JPG); }
#archImg65{ content: url(../images/digitalArchive/IMG_2431.JPG); }
#archImg66{ content: url(../images/digitalArchive/IMG_2432.JPG); }

/* Lanemeyer - If Theres a Will, Theres Still Nothing */
#archImg67{ content: url(../images/digitalArchive/IMG_2433.JPG); }
#archImg68{ content: url(../images/digitalArchive/IMG_2434.JPG); }
#archImg69{ content: url(../images/digitalArchive/IMG_2435.JPG); }

/* pageninetynine - document #5 */
#archImg70{ content: url(../images/digitalArchive/IMG_2436.JPG); }
#archImg71{ content: url(../images/digitalArchive/IMG_2437.JPG); }
#archImg72{ content: url(../images/digitalArchive/IMG_2438.JPG); }

/* Your Arms Are My Cocoon - S/T */
#archImg73{ content: url(../images/digitalArchive/IMG_2439.JPG); }
#archImg74{ content: url(../images/digitalArchive/IMG_2440.JPG); }
#archImg75{ content: url(../images/digitalArchive/IMG_2441.JPG); }

/* herlovebeheadsdaisies - carving initials */
#archImg76{ content: url(../images/digitalArchive/IMG_2442.JPG); }
#archImg77{ content: url(../images/digitalArchive/IMG_2443.JPG); }
#archImg78{ content: url(../images/digitalArchive/IMG_2444.JPG); }

/* In Loving Memory - As Years Pass And Feel Like Seconds */
#archImg79{ content: url(../images/digitalArchive/IMG_2445.JPG); }
#archImg80{ content: url(../images/digitalArchive/IMG_2446.JPG); }

/* algernon cadwallader - S/T */
#archImg81{ content: url(../images/digitalArchive/IMG_2459.JPG); }
#archImg82{ content: url(../images/digitalArchive/IMG_2460.JPG); }
#archImg83{ content: url(../images/digitalArchive/IMG_2461.JPG); }

/* Jejune - R.I.P. */
#archImg84{ content: url(../images/digitalArchive/IMG_2462.JPG); }
#archImg85{ content: url(../images/digitalArchive/IMG_2463.JPG); }
#archImg86{ content: url(../images/digitalArchive/IMG_2464.JPG); }
