* {margin: 0; padding: 0}
    
@font-face {
    font-family: KHMenu;
    src: url('../fonts/KHMenu.otf');
}
@font-face {
    font-family: KHTitle;
    src: url('../fonts/KHTitle.otf');
}
.KHmenu{
    font-family: KHMenu; font-size: 4.2em;
}

.KHTitle{
    font-family: KHTitle; font-size: 4.2em;

}

body{
    background-color: floralwhite;
    font-family: KHMenu;
    font-size: 80%;
    text-align: center;
    appearance: none; 
}

.header{
    text-align: left;
    margin-left: 1%;
    color: black;
    font-size: 100%;
    border-bottom: 10% black;
    flex-wrap: wrap;
    top: 0;
    margin-top: .5%;
}


#line1{
    border: none;
    height: 3px;
    background-color: black;
    margin-top: 0.5%;
    margin-left: -20px;
    
}

.topBTN{
    margin-left: 2%;
}

button{
    font-family: KHMenu;
    font-size: large;
    padding: .2%;
    position: relative;
    top: 10px; 
    cursor: pointer;
}

#homeBTN{
    float: right;
    margin-right: 1%;
}

#mobile{
    display: none;
}


@media only screen and (max-width: 768px) {
    #mobile{
       display: block;
    }
    #mobileNote{
        display: block;
    }
    .topBTN{
        display: none;
    }
    .mobileBTN{
        margin-left: 2%;
        font-family: KHMenu;
        font-size: large;
        padding: .2%;
        position: relative;
        top: 10px; 
        cursor: pointer;  
        display: inline;
    }
}

div{
    display: inline;
}

#wrapper{
    justify-content: center;
    /*border: 2px solid black; */
}

.imgs{
    width: 300px;
    height: auto;
    max-height: 400px;
    padding: .05%;
}

.vids{
    width: 300px;
    height: auto;
    max-height: 400px;
    padding: .05%;
}

#testImg1{
    content: url(../images/bridgeRainbow.JPG);
}

#testImg2{
    content: url(../images/leidan1.WEBP);
}

#testImg3{
    content: url(../images/me_couchPleasant.JPG);
}

#testImg4{
    height: 250px;
    width: 250px;
    content: url(../images/emptyApartmentPic.png);
}

#testImg5{
    height: 200px;
    width: 250px;
    content: url(../images/me_pointing_smiling.JPG);
}

#testImg6{
    height: 100px;
    width: 200px;
    content: url(../images/me_couchPleasant.JPG);
}
